<template>
  <div>
    <h2>Hello {{username}}</h2>
    <h2>SSR Ref {{username2}}</h2>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  useFetch, useContext,
  ssrRef,
  useMeta
} from '@nuxtjs/composition-api';

export default defineComponent({
  head: {},
  setup() {
    const { params } = useContext()
    const username = ref('')
    const username2 = ssrRef(params.value.id)
    const { title, meta } = useMeta();

    title.value = `Title : ${username2.value}`;
    meta.value.push({
      hid: 'description',
      name: 'description',
      content: `DESCRIPTION FOR : ${username2.value}`,
    });
    meta.value.push({
      hid: 'og:image',
      name: 'og:image',
      content: `https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Everest_kalapatthar.jpg/600px-Everest_kalapatthar.jpg`,
    });

    const { fetch: fetchPost } = useFetch( async () => {
      username.value = params.value.id;
    });

    return {
      username,
      username2,
      fetchPost
    }
  }
})
</script>
